::-webkit-scrollbar {
    display: none;
}

.populerscroll {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    cursor: pointer;
    align-items: center;
}

.scrollbtns {
    position: absolute;
    transition: 0.5s;
    opacity: 0.4;
}

.scrollbtns:hover {
    opacity: 1;
}


@keyframes pendulum {
    0% {
        transform: rotateX(-90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

.commentbox{
    z-index: 10000;
    bottom: 0;
    width: 100%;
    animation: pendulum 0.5s ease-in-out 1;
    transform-origin: bottom center;
}